{
  "info":
    {
      "title": "Artsy Internal API",
      "termsOfService": "https://developers.artsy.net/terms",
      "contact":
        {
          "name": "Artsy API Developers",
          "email": "artsy-api-developers@googlegroups.com",
          "url": "https://developers.artsy.net",
        },
      "version": "v1",
    },
  "swagger": "2.0",
  "produces":
    [
      "application/json",
      "text/plain",
      "text/html",
      "application/pdf",
      "application/octet-stream",
      "application/msword",
      "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
      "application/zip",
      "image/jpeg",
      "image/png",
      "image/tiff",
      "image/bmp",
    ],
  "host": "api.artsy.net",
  "tags":
    [
      {
        "name": "access_controls",
        "description": "Operations about access_controls",
      },
      {
        "name": "access_token",
        "description": "Operations about access_tokens",
      },
      {
        "name": "account_requests",
        "description": "Operations about account_requests",
      },
      { "name": "admins", "description": "Operations about admins" },
      {
        "name": "artist_career_highlights",
        "description": "Operations about artist_career_highlights",
      },
      {
        "name": "artist_career_highlight",
        "description": "Operations about artist_career_highlights",
      },
      {
        "name": "artist_series",
        "description": "Operations about artist_series",
      },
      { "name": "artist", "description": "Operations about artists" },
      { "name": "artists", "description": "Operations about artists" },
      {
        "name": "artwork_version",
        "description": "Operations about artwork_versions",
      },
      { "name": "artworks", "description": "Operations about artworks" },
      {
        "name": "artworks_discovery",
        "description": "Operations about artworks_discoveries",
      },
      { "name": "artwork", "description": "Operations about artworks" },
      {
        "name": "bank_account",
        "description": "Operations about bank_accounts",
      },
      {
        "name": "bidder_positions",
        "description": "Operations about bidder_positions",
      },
      {
        "name": "bidder_position",
        "description": "Operations about bidder_positions",
      },
      { "name": "bidder", "description": "Operations about bidders" },
      { "name": "bidders", "description": "Operations about bidders" },
      { "name": "bids", "description": "Operations about bids" },
      { "name": "bid", "description": "Operations about bids" },
      {
        "name": "buyers_premiums",
        "description": "Operations about buyers_premiums",
      },
      { "name": "callbacks", "description": "Operations about callbacks" },
      { "name": "collection", "description": "Operations about collections" },
      { "name": "collections", "description": "Operations about collections" },
      {
        "name": "collector_profiles",
        "description": "Operations about collector_profiles",
      },
      {
        "name": "collector_profile",
        "description": "Operations about collector_profiles",
      },
      {
        "name": "collector_profile_summary",
        "description": "Operations about collector_profile_summaries",
      },
      { "name": "credit_card", "description": "Operations about credit_cards" },
      {
        "name": "credit_cards",
        "description": "Operations about credit_cards",
      },
      { "name": "cultures", "description": "Operations about cultures" },
      { "name": "devices", "description": "Operations about devices" },
      { "name": "device", "description": "Operations about devices" },
      {
        "name": "exchange_rates",
        "description": "Operations about exchange_rates",
      },
      { "name": "fair", "description": "Operations about fairs" },
      {
        "name": "fair_organizers",
        "description": "Operations about fair_organizers",
      },
      {
        "name": "fair_organizer",
        "description": "Operations about fair_organizers",
      },
      { "name": "fairs", "description": "Operations about fairs" },
      {
        "name": "featured_links",
        "description": "Operations about featured_links",
      },
      {
        "name": "featured_link",
        "description": "Operations about featured_links",
      },
      { "name": "features", "description": "Operations about features" },
      { "name": "feature", "description": "Operations about features" },
      { "name": "feedback", "description": "Operations about feedback" },
      { "name": "filter", "description": "Operations about filters" },
      {
        "name": "follow_shows",
        "description": "Operations about follow_shows",
      },
      {
        "name": "gene_families",
        "description": "Operations about gene_families",
      },
      { "name": "gene_type", "description": "Operations about gene_types" },
      { "name": "gene_types", "description": "Operations about gene_types" },
      { "name": "gene", "description": "Operations about genes" },
      { "name": "genes", "description": "Operations about genes" },
      { "name": "genome", "description": "Operations about genomes" },
      { "name": "hero_units", "description": "Operations about hero_units" },
      {
        "name": "identity_verifications",
        "description": "Operations about identity_verifications",
      },
      {
        "name": "identity_verification",
        "description": "Operations about identity_verifications",
      },
      {
        "name": "inquiry_request_questions",
        "description": "Operations about inquiry_request_questions",
      },
      {
        "name": "inquiry_request",
        "description": "Operations about inquiry_requests",
      },
      {
        "name": "inquiry_requests",
        "description": "Operations about inquiry_requests",
      },
      { "name": "invoice", "description": "Operations about invoices" },
      { "name": "invoices", "description": "Operations about invoices" },
      { "name": "labs", "description": "Operations about labs" },
      { "name": "maps", "description": "Operations about maps" },
      {
        "name": "marketing_collections",
        "description": "Operations about marketing_collections",
      },
      {
        "name": "marketing_collections_categories",
        "description": "Operations about marketing_collections_categories",
      },
      { "name": "match", "description": "Operations about matches" },
      { "name": "me", "description": "Operations about mes" },
      {
        "name": "merchant_accounts",
        "description": "Operations about merchant_accounts",
      },
      {
        "name": "merchant_account",
        "description": "Operations about merchant_accounts",
      },
      {
        "name": "notification_preferences",
        "description": "Operations about notification_preferences",
      },
      { "name": "pages", "description": "Operations about pages" },
      { "name": "page", "description": "Operations about pages" },
      { "name": "partner", "description": "Operations about partners" },
      {
        "name": "partner_categories",
        "description": "Operations about partner_categories",
      },
      {
        "name": "partner_category",
        "description": "Operations about partner_categories",
      },
      {
        "name": "partner_communications",
        "description": "Operations about partner_communications",
      },
      {
        "name": "partner_communication",
        "description": "Operations about partner_communications",
      },
      {
        "name": "partner_gene_categories",
        "description": "Operations about partner_gene_categories",
      },
      {
        "name": "partner_offer",
        "description": "Operations about partner_offers",
      },
      {
        "name": "partner_offers",
        "description": "Operations about partner_offers",
      },
      {
        "name": "partner_show_events",
        "description": "Operations about partner_show_events",
      },
      {
        "name": "partner_subscription_charges",
        "description": "Operations about partner_subscription_charges",
      },
      {
        "name": "partner_subscription_charge",
        "description": "Operations about partner_subscription_charges",
      },
      {
        "name": "partner_subscription_events",
        "description": "Operations about partner_subscription_events",
      },
      {
        "name": "partner_subscription_event",
        "description": "Operations about partner_subscription_events",
      },
      {
        "name": "partner_subscription_invoices",
        "description": "Operations about partner_subscription_invoices",
      },
      {
        "name": "partner_subscription_invoice",
        "description": "Operations about partner_subscription_invoices",
      },
      {
        "name": "partner_subscription_plans",
        "description": "Operations about partner_subscription_plans",
      },
      {
        "name": "partner_subscription_plan",
        "description": "Operations about partner_subscription_plans",
      },
      {
        "name": "partner_subscriptions",
        "description": "Operations about partner_subscriptions",
      },
      {
        "name": "partner_subscription",
        "description": "Operations about partner_subscriptions",
      },
      {
        "name": "partner_artists",
        "description": "Operations about partner_artists",
      },
      {
        "name": "partner_artist",
        "description": "Operations about partner_artists",
      },
      { "name": "partners", "description": "Operations about partners" },
      {
        "name": "partner_show",
        "description": "Operations about partner_shows",
      },
      { "name": "periods", "description": "Operations about periods" },
      { "name": "period", "description": "Operations about periods" },
      { "name": "profile", "description": "Operations about profiles" },
      { "name": "purchases", "description": "Operations about purchases" },
      { "name": "purchase", "description": "Operations about purchases" },
      { "name": "related", "description": "Operations about relateds" },
      {
        "name": "representative",
        "description": "Operations about representatives",
      },
      {
        "name": "sale_agreements",
        "description": "Operations about sale_agreements",
      },
      {
        "name": "sale_artwork",
        "description": "Operations about sale_artworks",
      },
      {
        "name": "sale_artworks",
        "description": "Operations about sale_artworks",
      },
      { "name": "sale", "description": "Operations about sales" },
      { "name": "sales", "description": "Operations about sales" },
      { "name": "search", "description": "Operations about searches" },
      { "name": "sets", "description": "Operations about sets" },
      { "name": "set", "description": "Operations about sets" },
      { "name": "shortcut", "description": "Operations about shortcuts" },
      { "name": "shortcuts", "description": "Operations about shortcuts" },
      { "name": "show", "description": "Operations about shows" },
      { "name": "shows", "description": "Operations about shows" },
      {
        "name": "site_hero_unit",
        "description": "Operations about site_hero_units",
      },
      {
        "name": "site_hero_units",
        "description": "Operations about site_hero_units",
      },
      {
        "name": "stripe_customer",
        "description": "Operations about stripe_customers",
      },
      { "name": "system", "description": "Operations about systems" },
      { "name": "tag", "description": "Operations about tags" },
      { "name": "tags", "description": "Operations about tags" },
      { "name": "token", "description": "Operations about tokens" },
      {
        "name": "user_art_quiz",
        "description": "Operations about user_art_quizzes",
      },
      {
        "name": "user_fair_actions",
        "description": "Operations about user_fair_actions",
      },
      {
        "name": "user_fair_action",
        "description": "Operations about user_fair_actions",
      },
      {
        "name": "user_interests",
        "description": "Operations about user_interests",
      },
      {
        "name": "user_interest",
        "description": "Operations about user_interests",
      },
      {
        "name": "user_sale_profile",
        "description": "Operations about user_sale_profiles",
      },
      { "name": "user", "description": "Operations about users" },
      { "name": "users", "description": "Operations about users" },
      {
        "name": "verified_representatives",
        "description": "Operations about verified_representatives",
      },
      { "name": "video", "description": "Operations about videos" },
      {
        "name": "viewing_rooms",
        "description": "Operations about viewing_rooms",
      },
      {
        "name": "viewing_room",
        "description": "Operations about viewing_rooms",
      },
      { "name": "xapp_token", "description": "Operations about xapp_tokens" },
      {
        "name": "address_verification",
        "description": "Operations about address_verifications",
      },
      {
        "name": "client_application",
        "description": "Operations about client_applications",
      },
      {
        "name": "fair_booth_import",
        "description": "Operations about fair_booth_imports",
      },
      { "name": "increments", "description": "Operations about increments" },
      { "name": "increment", "description": "Operations about increments" },
      {
        "name": "partner_collector_profile",
        "description": "Operations about partner_collector_profiles",
      },
      {
        "name": "partner_collector_profiles",
        "description": "Operations about partner_collector_profiles",
      },
      { "name": "profiles", "description": "Operations about profiles" },
      {
        "name": "webhook_deliveries",
        "description": "Operations about webhook_deliveries",
      },
      {
        "name": "webhook_delivery",
        "description": "Operations about webhook_deliveries",
      },
    ],
  "paths":
    {
      "/api/v1/access_controls":
        {
          "get":
            {
              "description": "Retrieve access controls.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "property_type",
                    "description": "Property type.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "property_id",
                    "description": "Property id.",
                    "type": "string",
                    "required": false,
                  },
                ],
              "responses":
                { "200": { "description": "Retrieve access controls." } },
              "tags": ["access_controls"],
              "operationId": "getApiV1AccessControls",
            },
        },
      "/api/v1/access_token":
        {
          "delete":
            {
              "description": "Expire an OAuth access token.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "access_token",
                    "description": "Access token, defaults to value in the X-Access-Token header.",
                    "type": "string",
                    "required": false,
                  },
                ],
              "responses":
                { "204": { "description": "Expire an OAuth access token." } },
              "tags": ["access_token"],
              "operationId": "deleteApiV1AccessToken",
            },
        },
      "/api/v1/account_requests":
        {
          "post":
            {
              "description": "Create an account request, which may be associated with a user.",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "name": "ApiV1AccountRequests",
                    "in": "body",
                    "required": true,
                    "schema":
                      { "$ref": "#/definitions/postApiV1AccountRequests" },
                  },
                ],
              "responses":
                {
                  "201":
                    {
                      "description": "Create an account request, which may be associated with a user.",
                    },
                },
              "tags": ["account_requests"],
              "operationId": "postApiV1AccountRequests",
            },
        },
      "/api/v1/admins/representatives":
        {
          "get":
            {
              "description": "Retrieve all representatives.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "sort",
                    "description": "Sort order.",
                    "type": "string",
                    "enum":
                      [
                        "name",
                        "-name",
                        "email",
                        "-email",
                        "collector_since",
                        "-collector_since",
                      ],
                    "required": false,
                  },
                ],
              "responses":
                { "200": { "description": "Retrieve all representatives." } },
              "tags": ["admins"],
              "operationId": "getApiV1AdminsRepresentatives",
            },
        },
      "/api/v1/admins/available_representatives":
        {
          "get":
            {
              "description": "Retrieve available representatives.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "sort",
                    "description": "Sort order.",
                    "type": "string",
                    "enum":
                      [
                        "name",
                        "-name",
                        "email",
                        "-email",
                        "collector_since",
                        "-collector_since",
                      ],
                    "required": false,
                  },
                ],
              "responses":
                {
                  "200":
                    { "description": "Retrieve available representatives." },
                },
              "tags": ["admins"],
              "operationId": "getApiV1AdminsAvailableRepresentatives",
            },
        },
      "/api/v1/admins":
        {
          "get":
            {
              "description": "Retrieve all admins.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "partner_admin",
                    "description": "Only return admins that are set as admins for any partners.",
                    "type": "boolean",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "sort",
                    "description": "Sort order.",
                    "type": "string",
                    "enum":
                      [
                        "name",
                        "-name",
                        "email",
                        "-email",
                        "collector_since",
                        "-collector_since",
                      ],
                    "required": false,
                  },
                ],
              "responses": { "200": { "description": "Retrieve all admins." } },
              "tags": ["admins"],
              "operationId": "getApiV1Admins",
            },
        },
      "/api/v1/artist_career_highlights":
        {
          "get":
            {
              "description": "Return all artist career highlights for an artist.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "artist_id",
                    "description": "Artist id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "in": "query",
                    "name": "solo",
                    "description": "Return only solo shows.",
                    "type": "boolean",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "group",
                    "description": "Return only group shows.",
                    "type": "boolean",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "collected",
                    "description": "Return only major institutions that have collected the artist's works.",
                    "type": "boolean",
                    "required": false,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Return all artist career highlights for an artist.",
                    },
                },
              "tags": ["artist_career_highlights"],
              "operationId": "getApiV1ArtistCareerHighlights",
            },
        },
      "/api/v1/artist_career_highlight/{id}":
        {
          "delete":
            {
              "description": "Delete an artist career highlight.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist career highlight id.",
                    "type": "string",
                    "required": true,
                  },
                ],
              "responses":
                {
                  "204":
                    { "description": "Delete an artist career highlight." },
                },
              "tags": ["artist_career_highlight"],
              "operationId": "deleteApiV1ArtistCareerHighlightId",
            },
          "put":
            {
              "description": "Update an artist career highlight.",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist career highlight id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "name": "ApiV1ArtistCareerHighlight",
                    "in": "body",
                    "required": true,
                    "schema":
                      { "$ref": "#/definitions/putApiV1ArtistCareerHighlight" },
                  },
                ],
              "responses":
                {
                  "200":
                    { "description": "Update an artist career highlight." },
                },
              "tags": ["artist_career_highlight"],
              "operationId": "putApiV1ArtistCareerHighlightId",
            },
        },
      "/api/v1/artist_career_highlight":
        {
          "post":
            {
              "description": "Create an artist career highlight.",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "name": "ApiV1ArtistCareerHighlight",
                    "in": "body",
                    "required": true,
                    "schema":
                      {
                        "$ref": "#/definitions/postApiV1ArtistCareerHighlight",
                      },
                  },
                ],
              "responses":
                {
                  "201":
                    { "description": "Create an artist career highlight." },
                },
              "tags": ["artist_career_highlight"],
              "operationId": "postApiV1ArtistCareerHighlight",
            },
        },
      "/api/v1/artist_series":
        {
          "get":
            {
              "description": "Retrieve artist series",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "artist_id",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "formData",
                    "name": "exclude_ids",
                    "type": "array",
                    "items": { "type": "string" },
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "artwork_id",
                    "type": "string",
                    "required": false,
                  },
                ],
              "responses":
                { "200": { "description": "Retrieve artist series" } },
              "tags": ["artist_series"],
              "operationId": "getApiV1ArtistSeries",
            },
        },
      "/api/v1/artist_series/{id}":
        {
          "get":
            {
              "description": "Retrieve an artist series",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist Series ID",
                    "type": "string",
                    "required": true,
                  },
                ],
              "responses":
                { "200": { "description": "Retrieve an artist series" } },
              "tags": ["artist_series"],
              "operationId": "getApiV1ArtistSeriesId",
            },
        },
      "/api/v1/artist/{id}/partners":
        {
          "get":
            {
              "description": "Retrieve all partners that have artworks by an artist.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "sort",
                    "description": "Sort order.",
                    "type": "string",
                    "enum":
                      [
                        "sortable_id",
                        "-sortable_id",
                        "published_artworks_count",
                        "-published_artworks_count",
                      ],
                    "required": false,
                  },
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "in": "query",
                    "name": "represented_by",
                    "description": "Only return partners that represent the artist.",
                    "type": "string",
                    "required": false,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Retrieve all partners that have artworks by an artist.",
                    },
                },
              "tags": ["artist"],
              "operationId": "getApiV1ArtistIdPartners",
            },
        },
      "/api/v1/artist/{id}/partner_artists":
        {
          "get":
            {
              "description": "Retrieve all partner artist relationships for a partner.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "sort",
                    "description": "Sort order.",
                    "type": "string",
                    "enum":
                      [
                        "sortable_id",
                        "-sortable_id",
                        "published_artworks_count",
                        "-published_artworks_count",
                      ],
                    "required": false,
                  },
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "in": "query",
                    "name": "represented_by",
                    "description": "Only return partner-artist relationships where the partner represents the artist.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "has_biography",
                    "description": "Only return partner-artist relationships where the partner has entered a bio for the artist.",
                    "type": "boolean",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "featured",
                    "description": "Only return featured partner artists.",
                    "type": "boolean",
                    "required": false,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Retrieve all partner artist relationships for a partner.",
                    },
                },
              "tags": ["artist"],
              "operationId": "getApiV1ArtistIdPartnerArtists",
            },
        },
      "/api/v1/artist/{id}/genome":
        {
          "delete":
            {
              "description": "Clear an artist's genome.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist id.",
                    "type": "string",
                    "required": true,
                  },
                ],
              "responses":
                { "204": { "description": "Clear an artist's genome." } },
              "tags": ["artist"],
              "operationId": "deleteApiV1ArtistIdGenome",
            },
          "put":
            {
              "description": "Update an artist's genome.",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "name": "ApiV1ArtistIdGenome",
                    "in": "body",
                    "required": true,
                    "schema":
                      { "$ref": "#/definitions/putApiV1ArtistIdGenome" },
                  },
                ],
              "responses":
                { "200": { "description": "Update an artist's genome." } },
              "tags": ["artist"],
              "operationId": "putApiV1ArtistIdGenome",
            },
          "get":
            {
              "description": "Retrieve an artist's genome.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist id.",
                    "type": "string",
                    "required": true,
                  },
                ],
              "responses":
                { "200": { "description": "Retrieve an artist's genome." } },
              "tags": ["artist"],
              "operationId": "getApiV1ArtistIdGenome",
            },
        },
      "/api/v1/artist/{id}/genome/incomplete":
        {
          "put":
            {
              "description": "Mark an artist's genome incomplete.",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist id.",
                    "type": "string",
                    "required": true,
                  },
                ],
              "responses":
                {
                  "200":
                    { "description": "Mark an artist's genome incomplete." },
                },
              "tags": ["artist"],
              "operationId": "putApiV1ArtistIdGenomeIncomplete",
            },
        },
      "/api/v1/artist/{id}/genome/complete":
        {
          "put":
            {
              "description": "Mark an artist's genome complete.",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist id.",
                    "type": "string",
                    "required": true,
                  },
                ],
              "responses":
                {
                  "200": { "description": "Mark an artist's genome complete." },
                },
              "tags": ["artist"],
              "operationId": "putApiV1ArtistIdGenomeComplete",
            },
        },
      "/api/v1/artist/{id}/genome/genes":
        {
          "get":
            {
              "description": "Retrieve an artist's genes, sorted by value.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Retrieve an artist's genes, sorted by value.",
                    },
                },
              "tags": ["artist"],
              "operationId": "getApiV1ArtistIdGenomeGenes",
            },
        },
      "/api/v1/artist/{id}/merge":
        {
          "post":
            {
              "description": "Merge two artists (any artworks, follows, and posts)",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "name": "ApiV1ArtistIdMerge",
                    "in": "body",
                    "required": true,
                    "schema":
                      { "$ref": "#/definitions/postApiV1ArtistIdMerge" },
                  },
                ],
              "responses":
                {
                  "201":
                    {
                      "description": "Merge two artists (any artworks, follows, and posts)",
                    },
                },
              "tags": ["artist"],
              "operationId": "postApiV1ArtistIdMerge",
            },
        },
      "/api/v1/artist/{id}/duplicates":
        {
          "get":
            {
              "description": "Get a cluster of potentially duplicated artist records (including the specified Artist).",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist's id.",
                    "type": "string",
                    "required": true,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Get a cluster of potentially duplicated artist records (including the specified Artist).",
                    },
                },
              "tags": ["artist"],
              "operationId": "getApiV1ArtistIdDuplicates",
            },
        },
      "/api/v1/artist/{id}/image(/{image_version})":
        {
          "get":
            {
              "description": "Get an artist's image.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist's id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "in": "path",
                    "name": "image_version",
                    "type": "integer",
                    "format": "int32",
                    "required": true,
                  },
                ],
              "responses":
                { "200": { "description": "Get an artist's image." } },
              "tags": ["artist"],
              "operationId": "getApiV1ArtistIdImage(ImageVersion)",
            },
        },
      "/api/v1/artist":
        {
          "post":
            {
              "description": "Create a new artist.",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "name": "ApiV1Artist",
                    "in": "body",
                    "required": true,
                    "schema": { "$ref": "#/definitions/postApiV1Artist" },
                  },
                ],
              "responses": { "201": { "description": "Create a new artist." } },
              "tags": ["artist"],
              "operationId": "postApiV1Artist",
            },
        },
      "/api/v1/artist/{id}/artworks/all":
        {
          "get":
            {
              "description": "Retrieve deep data for all artist's artworks. Most iconic works appear first, followed by recently published ones.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "sort",
                    "description": "Sort order.",
                    "type": "string",
                    "enum":
                      [
                        "title",
                        "-title",
                        "created_at",
                        "-created_at",
                        "-created_at,-id",
                        "deleted_at",
                        "-deleted_at",
                        "-iconicity",
                        "-merchandisability",
                        "published_at",
                        "-published_at",
                        "-partner_updated_at",
                        "availability",
                        "-recent_saves_count",
                        "-last_offerable_activity_at",
                      ],
                    "required": false,
                  },
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "in": "query",
                    "name": "gene_id",
                    "description": "Specify a gene id to sort artworks by the value of the gene, followed by recently published ones. Sorts by artwork iconicity by default.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "formData",
                    "name": "filter",
                    "description": "Filter the works by criteria, any combination of 'for_sale' and 'not_for_sale'.",
                    "type": "array",
                    "items": { "type": "string" },
                    "required": false,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Retrieve deep data for all artist's artworks. Most iconic works appear first, followed by recently published ones.",
                    },
                },
              "tags": ["artist"],
              "operationId": "getApiV1ArtistIdArtworksAll",
            },
        },
      "/api/v1/artist/{id}/artworks":
        {
          "get":
            {
              "description": "Retrieve all artist's artworks.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "sort",
                    "description": "Sort order.",
                    "type": "string",
                    "enum":
                      [
                        "title",
                        "-title",
                        "created_at",
                        "-created_at",
                        "-created_at,-id",
                        "deleted_at",
                        "-deleted_at",
                        "-iconicity",
                        "-merchandisability",
                        "published_at",
                        "-published_at",
                        "-partner_updated_at",
                        "availability",
                        "-recent_saves_count",
                        "-last_offerable_activity_at",
                      ],
                    "required": false,
                  },
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "in": "query",
                    "name": "gene_id",
                    "description": "Specify a gene id to sort artworks by the value of the gene, followed by recently published ones. Sorts by artwork iconicity by default.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "formData",
                    "name": "filter",
                    "description": "Filter the works by criteria, any combination of 'for_sale' and 'not_for_sale'.",
                    "type": "array",
                    "items": { "type": "string" },
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "published",
                    "description": "Return only published artworks.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "formData",
                    "name": "exclude_ids",
                    "description": "An array of artwork ids to exclude from the response.",
                    "type": "array",
                    "items": { "type": "string" },
                    "required": false,
                  },
                ],
              "responses":
                { "200": { "description": "Retrieve all artist's artworks." } },
              "tags": ["artist"],
              "operationId": "getApiV1ArtistIdArtworks",
            },
        },
      "/api/v1/artist/{id}/admin_note":
        {
          "post":
            {
              "description": "Create an artist admin_note.",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist id.",
                    "type": "string",
                    "required": true,
                  },
                ],
              "responses":
                { "201": { "description": "Create an artist admin_note." } },
              "tags": ["artist"],
              "operationId": "postApiV1ArtistIdAdminNote",
            },
        },
      "/api/v1/artist/{id}/admin_notes":
        {
          "get":
            {
              "description": "Retrieve all artist's admin_notes.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Artist id.",
                    "type": "string",
                    "required": true,
                  },
                ],
              "responses":
                {
                  "200":
                    { "description": "Retrieve all artist's admin_notes." },
                },
              "tags": ["artist"],
              "operationId": "getApiV1ArtistIdAdminNotes",
            },
        },
      "/api/v1/artist/{id}":
        {
          "delete":
            {
              "description": "Delete an existing artist.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "type": "integer",
                    "format": "int32",
                    "required": true,
                  },
                ],
              "responses":
                { "204": { "description": "Delete an existing artist." } },
              "tags": ["artist"],
              "operationId": "deleteApiV1ArtistId",
            },
          "put":
            {
              "description": "Update an existing artist.",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "type": "integer",
                    "format": "int32",
                    "required": true,
                  },
                  {
                    "name": "ApiV1Artist",
                    "in": "body",
                    "required": true,
                    "schema": { "$ref": "#/definitions/putApiV1Artist" },
                  },
                ],
              "responses":
                { "200": { "description": "Update an existing artist." } },
              "tags": ["artist"],
              "operationId": "putApiV1ArtistId",
            },
          "get":
            {
              "description": "Retrieve an artist.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "type": "integer",
                    "format": "int32",
                    "required": true,
                  },
                ],
              "responses": { "200": { "description": "Retrieve an artist." } },
              "tags": ["artist"],
              "operationId": "getApiV1ArtistId",
            },
        },
      "/api/v1/artist/{id}/artwork_inquiry_requests":
        {
          "get":
            {
              "description": "Retrieve all artwork inquiry requests by a artist.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "sort",
                    "description": "Sort order.",
                    "type": "string",
                    "enum":
                      [
                        "-created_at",
                        "created_at",
                        "-outcome",
                        "outcome",
                        "likely_to_purchase",
                        "-likely_to_purchase",
                        "status",
                        "-status",
                        "flagged",
                        "-flagged",
                        "contact_gallery",
                        "-contact_gallery",
                        "status,-likely_to_purchase,created_at",
                        "last_message_received_at",
                        "-last_message_received_at",
                      ],
                    "required": false,
                  },
                  {
                    "in": "path",
                    "name": "id",
                    "type": "integer",
                    "format": "int32",
                    "required": true,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Retrieve all artwork inquiry requests by a artist.",
                    },
                },
              "tags": ["artist"],
              "operationId": "getApiV1ArtistIdArtworkInquiryRequests",
            },
        },
      "/api/v1/artist/{id}/follow/users":
        {
          "get":
            {
              "description": "Retrieve all users that follow an artist.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "path",
                    "name": "id",
                    "type": "integer",
                    "format": "int32",
                    "required": true,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Retrieve all users that follow an artist.",
                    },
                },
              "tags": ["artist"],
              "operationId": "getApiV1ArtistIdFollowUsers",
            },
        },
      "/api/v1/artists/merge":
        {
          "post":
            {
              "description": "Merge two or more artists",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "responses":
                { "201": { "description": "Merge two or more artists" } },
              "tags": ["artists"],
              "operationId": "postApiV1ArtistsMerge",
            },
        },
      "/api/v1/artists":
        {
          "get":
            {
              "description": "Retrieve artists.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "formData",
                    "name": "ids",
                    "description": "Returns these objects if passed in.",
                    "type": "array",
                    "items": { "type": "string" },
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "sort",
                    "description": "Sort order.",
                    "type": "string",
                    "enum":
                      [
                        "_slugs",
                        "-_slugs",
                        "created_at",
                        "-created_at",
                        "sortable_id",
                        "-sortable_id",
                        "-trending",
                      ],
                    "required": false,
                  },
                ],
              "responses": { "200": { "description": "Retrieve artists." } },
              "tags": ["artists"],
              "operationId": "getApiV1Artists",
            },
        },
      "/api/v1/artists/{match}":
        {
          "get":
            {
              "description": "Retrieve a subset of artists.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "sort",
                    "description": "Sort order.",
                    "type": "string",
                    "enum":
                      [
                        "_slugs",
                        "-_slugs",
                        "created_at",
                        "-created_at",
                        "sortable_id",
                        "-sortable_id",
                        "-trending",
                      ],
                    "required": false,
                  },
                  {
                    "in": "path",
                    "name": "match",
                    "type": "integer",
                    "format": "int32",
                    "required": true,
                  },
                ],
              "responses":
                { "200": { "description": "Retrieve a subset of artists." } },
              "tags": ["artists"],
              "operationId": "getApiV1ArtistsMatch",
            },
        },
      "/api/v1/artists/popular":
        {
          "get":
            {
              "description": "Retrieve the most followed artists.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Limit to top n artists.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "exclude_followed_artists",
                    "description": "If true, will exclude followed artists.",
                    "type": "boolean",
                    "required": false,
                  },
                  {
                    "in": "formData",
                    "name": "exclude_artist_ids",
                    "description": "Exclude these ids from results, may result in all artists being excluded.",
                    "type": "array",
                    "items": { "type": "string" },
                    "required": false,
                  },
                ],
              "responses":
                {
                  "200":
                    { "description": "Retrieve the most followed artists." },
                },
              "tags": ["artists"],
              "operationId": "getApiV1ArtistsPopular",
            },
        },
      "/api/v1/artists/trending/scores":
        {
          "get":
            {
              "description": "Retrieve trending artists with full score breakdown.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "n",
                    "description": "Limit to top n artists.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Retrieve trending artists with full score breakdown.",
                    },
                },
              "tags": ["artists"],
              "operationId": "getApiV1ArtistsTrendingScores",
            },
        },
      "/api/v1/artists/trending":
        {
          "get":
            {
              "description": "Retrieve trending artists in descending order.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "gene",
                    "description": "Supply a gene filter.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "max_career_stage",
                    "description": "Supply a max career stage filter.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "min_career_stage",
                    "description": "Supply a min career stage filter.",
                    "type": "integer",
                    "format": "int32",
                    "default": 45,
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "min_forsale_artworks",
                    "description": "Min number of for sale works",
                    "type": "integer",
                    "format": "int32",
                    "default": 5,
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "min_follow_count",
                    "description": "Min number of followers",
                    "type": "integer",
                    "format": "int32",
                    "default": 10,
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "exclude_followed_artists",
                    "description": "If true, will exclude followed artists.",
                    "type": "boolean",
                    "required": false,
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Retrieve trending artists in descending order.",
                    },
                },
              "tags": ["artists"],
              "operationId": "getApiV1ArtistsTrending",
            },
        },
      "/api/v1/artwork_version/{id}":
        {
          "get":
            {
              "description": "Retrieve an artwork version.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Version id.",
                    "type": "string",
                    "required": true,
                  },
                ],
              "responses":
                { "200": { "description": "Retrieve an artwork version." } },
              "tags": ["artwork_version"],
              "operationId": "getApiV1ArtworkVersionId",
            },
        },
      "/api/v1/artworks/collections/batch":
        {
          "post":
            {
              "description": "Add / remove artworks to / from collections",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "in": "formData",
                    "name": "artwork_ids",
                    "description": "Artwork ids or slugs.",
                    "type": "array",
                    "items": { "type": "string" },
                    "required": true,
                  },
                  {
                    "in": "formData",
                    "name": "add_to",
                    "description": "Collection ids or slugs.",
                    "type": "array",
                    "items": { "type": "string" },
                    "required": false,
                  },
                  {
                    "in": "formData",
                    "name": "remove_from",
                    "description": "Collection ids or slugs.",
                    "type": "array",
                    "items": { "type": "string" },
                    "required": false,
                  },
                ],
              "responses":
                {
                  "201":
                    {
                      "description": "Add / remove artworks to / from collections",
                    },
                },
              "tags": ["artworks"],
              "operationId": "postApiV1ArtworksCollectionsBatch",
            },
        },
      "/api/v1/artworks/deleted":
        {
          "get":
            {
              "description": "Retrieve deleted artworks.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                ],
              "responses":
                { "200": { "description": "Retrieve deleted artworks." } },
              "tags": ["artworks"],
              "operationId": "getApiV1ArtworksDeleted",
            },
        },
      "/api/v1/artworks/sellable":
        {
          "get":
            {
              "description": "Retrieve top sellable artworks.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "created_at_since",
                    "description": "Only return artworks created after this timestamp.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "min_artists_per_page",
                    "description": "Minimum number of artists to feature in results.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "min_price",
                    "description": "Min artwork price filter.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "max_price",
                    "description": "Max artwork price filter.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "min_career_stage",
                    "description": "Min artist career stage.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "max_career_stage",
                    "description": "Max artist career stage.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "category",
                    "description": "Artwork category filter.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "sort",
                    "description": "Sort order.",
                    "type": "string",
                    "enum":
                      [
                        "title",
                        "-title",
                        "created_at",
                        "-created_at",
                        "-created_at,-id",
                        "deleted_at",
                        "-deleted_at",
                        "-iconicity",
                        "-merchandisability",
                        "published_at",
                        "-published_at",
                        "-partner_updated_at",
                        "availability",
                        "-recent_saves_count",
                        "-last_offerable_activity_at",
                      ],
                    "required": false,
                  },
                ],
              "responses":
                { "200": { "description": "Retrieve top sellable artworks." } },
              "tags": ["artworks"],
              "operationId": "getApiV1ArtworksSellable",
            },
        },
      "/api/v1/artworks":
        {
          "get":
            {
              "description": "Retrieve all not deleted artworks.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "formData",
                    "name": "ids",
                    "description": "Returns these objects if passed in.",
                    "type": "array",
                    "items": { "type": "string" },
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "created_at_since",
                    "description": "Only return artworks created after this timestamp.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "availability",
                    "description": "Only return artworks with this availability status.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "admin_id",
                    "description": "Only return artworks from partners that are managed by given admin.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "partner_contract_type",
                    "description": "Only return artworks from partners of a given contract_type.",
                    "type": "string",
                    "enum": ["General", "Subscription", "Fair", "Custom"],
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "published",
                    "description": "Return only artworks in given published status.",
                    "type": "boolean",
                    "required": false,
                  },
                  {
                    "in": "formData",
                    "name": "artist_ids",
                    "description": "Only return artworks by these artists.",
                    "type": "array",
                    "items": { "type": "string" },
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "marketable",
                    "description": "Works that are marketable.",
                    "type": "boolean",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "exclude_disliked_artworks",
                    "description": "Exclude disliked artworks if authenticated.",
                    "type": "boolean",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "sort",
                    "description": "Sort order.",
                    "type": "string",
                    "enum":
                      [
                        "title",
                        "-title",
                        "created_at",
                        "-created_at",
                        "-created_at,-id",
                        "deleted_at",
                        "-deleted_at",
                        "-iconicity",
                        "-merchandisability",
                        "published_at",
                        "-published_at",
                        "-partner_updated_at",
                        "availability",
                        "-recent_saves_count",
                        "-last_offerable_activity_at",
                      ],
                    "required": false,
                  },
                ],
              "responses":
                {
                  "200":
                    { "description": "Retrieve all not deleted artworks." },
                },
              "tags": ["artworks"],
              "operationId": "getApiV1Artworks",
            },
        },
      "/api/v1/artworks_discovery":
        {
          "get":
            {
              "produces": ["application/json"],
              "responses":
                { "200": { "description": "get ArtworksDiscovery(s)" } },
              "tags": ["artworks_discovery"],
              "operationId": "getApiV1ArtworksDiscovery",
            },
        },
      "/api/v1/artwork/{artwork_id}/inventory":
        {
          "put":
            {
              "description": "Create or update an artwork's inventory.",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "artwork_id",
                    "description": "Artwork id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "name": "ApiV1ArtworkArtworkIdInventory",
                    "in": "body",
                    "required": true,
                    "schema":
                      {
                        "$ref": "#/definitions/putApiV1ArtworkArtworkIdInventory",
                      },
                  },
                ],
              "responses":
                {
                  "200":
                    {
                      "description": "Create or update an artwork's inventory.",
                    },
                },
              "tags": ["artwork"],
              "operationId": "putApiV1ArtworkArtworkIdInventory",
            },
        },
      "/api/v1/artwork/{artwork_id}/images/reposition":
        {
          "post":
            {
              "description": "Reposition artwork images.",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "artwork_id",
                    "description": "Artwork id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "in": "formData",
                    "name": "image_ids",
                    "description": "Array of artwork image ids.",
                    "type": "array",
                    "items": { "type": "string" },
                    "required": true,
                  },
                ],
              "responses":
                { "201": { "description": "Reposition artwork images." } },
              "tags": ["artwork"],
              "operationId": "postApiV1ArtworkArtworkIdImagesReposition",
            },
        },
      "/api/v1/artwork/{artwork_id}/images":
        {
          "get":
            {
              "description": "Retrieve artwork images.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "query",
                    "name": "page",
                    "description": "Page number to retrieve, starting at 1.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "offset",
                    "description": "Offset from which to retrieve.",
                    "type": "integer",
                    "format": "int32",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "size",
                    "description": "Number of items to retrieve for this page or from the current offset.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "query",
                    "name": "cursor",
                    "description": "Cursor for pagination.",
                    "type": "string",
                    "required": false,
                  },
                  {
                    "in": "path",
                    "name": "artwork_id",
                    "description": "Artwork id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "in": "query",
                    "name": "sort",
                    "description": "Sort order.",
                    "type": "string",
                    "enum": ["position"],
                    "required": false,
                  },
                ],
              "responses":
                { "200": { "description": "Retrieve artwork images." } },
              "tags": ["artwork"],
              "operationId": "getApiV1ArtworkArtworkIdImages",
            },
        },
      "/api/v1/artwork/{artwork_id}/images/default/{id}":
        {
          "put":
            {
              "description": "Set the default image.",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "artwork_id",
                    "description": "Artwork id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Default image id.",
                    "type": "string",
                    "required": true,
                  },
                ],
              "responses":
                { "200": { "description": "Set the default image." } },
              "tags": ["artwork"],
              "operationId": "putApiV1ArtworkArtworkIdImagesDefaultId",
            },
        },
      "/api/v1/artwork/{artwork_id}/image/{id}":
        {
          "delete":
            {
              "description": "Remove an image from an artwork.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "artwork_id",
                    "description": "Artwork id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Image id.",
                    "type": "string",
                    "required": true,
                  },
                ],
              "responses":
                {
                  "204": { "description": "Remove an image from an artwork." },
                },
              "tags": ["artwork"],
              "operationId": "deleteApiV1ArtworkArtworkIdImageId",
            },
          "put":
            {
              "description": "Update an artwork image.",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "artwork_id",
                    "description": "Artwork id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "in": "path",
                    "name": "id",
                    "description": "Image id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "name": "ApiV1ArtworkArtworkIdImage",
                    "in": "body",
                    "required": true,
                    "schema":
                      { "$ref": "#/definitions/putApiV1ArtworkArtworkIdImage" },
                  },
                ],
              "responses":
                { "200": { "description": "Update an artwork image." } },
              "tags": ["artwork"],
              "operationId": "putApiV1ArtworkArtworkIdImageId",
            },
        },
      "/api/v1/artwork/{artwork_id}/image":
        {
          "post":
            {
              "description": "Add an image to an artwork.",
              "produces": ["application/json"],
              "consumes": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "artwork_id",
                    "description": "Artwork id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "name": "ApiV1ArtworkArtworkIdImage",
                    "in": "body",
                    "required": true,
                    "schema":
                      {
                        "$ref": "#/definitions/postApiV1ArtworkArtworkIdImage",
                      },
                  },
                ],
              "responses":
                { "201": { "description": "Add an image to an artwork." } },
              "tags": ["artwork"],
              "operationId": "postApiV1ArtworkArtworkIdImage",
            },
        },
      "/api/v1/artwork/{artwork_id}/default_image(/{image_version})":
        {
          "get":
            {
              "description": "Get an artwork's default image.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "artwork_id",
                    "description": "Artwork id.",
                    "type": "string",
                    "required": true,
                  },
                  {
                    "in": "path",
                    "name": "image_version",
                    "type": "integer",
                    "format": "int32",
                    "required": true,
                  },
                ],
              "responses":
                { "200": { "description": "Get an artwork's default image." } },
              "tags": ["artwork"],
              "operationId": "getApiV1ArtworkArtworkIdDefaultImage(ImageVersion)",
            },
        },
      "/api/v1/artwork/{artwork_id}/image/{id}(/{image_version})":
        {
          "get":
            {
              "description": "Get an artwork's image.",
              "produces": ["application/json"],
              "parameters":
                [
                  {
                    "in": "path",
                    "name": "artwork_id",
                    "description": "Artwork id.",
[...]
