{
  "openapi": "3.0.1",
  "info": {
    "title": "Artsy Internal API",
    "termsOfService": "https://developers.artsy.net/terms",
    "contact": {
      "name": "Artsy API Developers",
      "url": "https://developers.artsy.net",
      "email": "artsy-api-developers@googlegroups.com"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "//api.artsy.net/"
    }
  ],
  "tags": [
    {
      "name": "access_controls",
      "description": "Operations about access_controls"
    },
    {
      "name": "access_token",
      "description": "Operations about access_tokens"
    },
    {
      "name": "account_requests",
      "description": "Operations about account_requests"
    },
    {
      "name": "admins",
      "description": "Operations about admins"
    },
    {
      "name": "artist_career_highlights",
      "description": "Operations about artist_career_highlights"
    },
    {
      "name": "artist_career_highlight",
      "description": "Operations about artist_career_highlights"
    },
    {
      "name": "artist_series",
      "description": "Operations about artist_series"
    },
    {
      "name": "artist",
      "description": "Operations about artists"
    },
    {
      "name": "artists",
      "description": "Operations about artists"
    },
    {
      "name": "artwork_version",
      "description": "Operations about artwork_versions"
    },
    {
      "name": "artworks",
      "description": "Operations about artworks"
    },
    {
      "name": "artworks_discovery",
      "description": "Operations about artworks_discoveries"
    },
    {
      "name": "artwork",
      "description": "Operations about artworks"
    },
    {
      "name": "bank_account",
      "description": "Operations about bank_accounts"
    },
    {
      "name": "bidder_positions",
      "description": "Operations about bidder_positions"
    },
    {
      "name": "bidder_position",
      "description": "Operations about bidder_positions"
    },
    {
      "name": "bidder",
      "description": "Operations about bidders"
    },
    {
      "name": "bidders",
      "description": "Operations about bidders"
    },
    {
      "name": "bids",
      "description": "Operations about bids"
    },
    {
      "name": "bid",
      "description": "Operations about bids"
    },
    {
      "name": "buyers_premiums",
      "description": "Operations about buyers_premiums"
    },
    {
      "name": "callbacks",
      "description": "Operations about callbacks"
    },
    {
      "name": "collection",
      "description": "Operations about collections"
    },
    {
      "name": "collections",
      "description": "Operations about collections"
    },
    {
      "name": "collector_profiles",
      "description": "Operations about collector_profiles"
    },
    {
      "name": "collector_profile",
      "description": "Operations about collector_profiles"
    },
    {
      "name": "collector_profile_summary",
      "description": "Operations about collector_profile_summaries"
    },
    {
      "name": "credit_card",
      "description": "Operations about credit_cards"
    },
    {
      "name": "credit_cards",
      "description": "Operations about credit_cards"
    },
    {
      "name": "cultures",
      "description": "Operations about cultures"
    },
    {
      "name": "devices",
      "description": "Operations about devices"
    },
    {
      "name": "device",
      "description": "Operations about devices"
    },
    {
      "name": "exchange_rates",
      "description": "Operations about exchange_rates"
    },
    {
      "name": "fair",
      "description": "Operations about fairs"
    },
    {
      "name": "fair_organizers",
      "description": "Operations about fair_organizers"
    },
    {
      "name": "fair_organizer",
      "description": "Operations about fair_organizers"
    },
    {
      "name": "fairs",
      "description": "Operations about fairs"
    },
    {
      "name": "featured_links",
      "description": "Operations about featured_links"
    },
    {
      "name": "featured_link",
      "description": "Operations about featured_links"
    },
    {
      "name": "features",
      "description": "Operations about features"
    },
    {
      "name": "feature",
      "description": "Operations about features"
    },
    {
      "name": "feedback",
      "description": "Operations about feedback"
    },
    {
      "name": "filter",
      "description": "Operations about filters"
    },
    {
      "name": "follow_shows",
      "description": "Operations about follow_shows"
    },
    {
      "name": "gene_families",
      "description": "Operations about gene_families"
    },
    {
      "name": "gene_type",
      "description": "Operations about gene_types"
    },
    {
      "name": "gene_types",
      "description": "Operations about gene_types"
    },
    {
      "name": "gene",
      "description": "Operations about genes"
    },
    {
      "name": "genes",
      "description": "Operations about genes"
    },
    {
      "name": "genome",
      "description": "Operations about genomes"
    },
    {
      "name": "hero_units",
      "description": "Operations about hero_units"
    },
    {
      "name": "identity_verifications",
      "description": "Operations about identity_verifications"
    },
    {
      "name": "identity_verification",
      "description": "Operations about identity_verifications"
    },
    {
      "name": "inquiry_request_questions",
      "description": "Operations about inquiry_request_questions"
    },
    {
      "name": "inquiry_request",
      "description": "Operations about inquiry_requests"
    },
    {
      "name": "inquiry_requests",
      "description": "Operations about inquiry_requests"
    },
    {
      "name": "invoice",
      "description": "Operations about invoices"
    },
    {
      "name": "invoices",
      "description": "Operations about invoices"
    },
    {
      "name": "labs",
      "description": "Operations about labs"
    },
    {
      "name": "maps",
      "description": "Operations about maps"
    },
    {
      "name": "marketing_collections",
      "description": "Operations about marketing_collections"
    },
    {
      "name": "marketing_collections_categories",
      "description": "Operations about marketing_collections_categories"
    },
    {
      "name": "match",
      "description": "Operations about matches"
    },
    {
      "name": "me",
      "description": "Operations about mes"
    },
    {
      "name": "merchant_accounts",
      "description": "Operations about merchant_accounts"
    },
    {
      "name": "merchant_account",
      "description": "Operations about merchant_accounts"
    },
    {
      "name": "notification_preferences",
      "description": "Operations about notification_preferences"
    },
    {
      "name": "pages",
      "description": "Operations about pages"
    },
    {
      "name": "page",
      "description": "Operations about pages"
    },
    {
      "name": "partner",
      "description": "Operations about partners"
    },
    {
      "name": "partner_categories",
      "description": "Operations about partner_categories"
    },
    {
      "name": "partner_category",
      "description": "Operations about partner_categories"
    },
    {
      "name": "partner_communications",
      "description": "Operations about partner_communications"
    },
    {
      "name": "partner_communication",
      "description": "Operations about partner_communications"
    },
    {
      "name": "partner_gene_categories",
      "description": "Operations about partner_gene_categories"
    },
    {
      "name": "partner_offer",
      "description": "Operations about partner_offers"
    },
    {
      "name": "partner_offers",
      "description": "Operations about partner_offers"
    },
    {
      "name": "partner_show_events",
      "description": "Operations about partner_show_events"
    },
    {
      "name": "partner_subscription_charges",
      "description": "Operations about partner_subscription_charges"
    },
    {
      "name": "partner_subscription_charge",
      "description": "Operations about partner_subscription_charges"
    },
    {
      "name": "partner_subscription_events",
      "description": "Operations about partner_subscription_events"
    },
    {
      "name": "partner_subscription_event",
      "description": "Operations about partner_subscription_events"
    },
    {
      "name": "partner_subscription_invoices",
      "description": "Operations about partner_subscription_invoices"
    },
    {
      "name": "partner_subscription_invoice",
      "description": "Operations about partner_subscription_invoices"
    },
    {
      "name": "partner_subscription_plans",
      "description": "Operations about partner_subscription_plans"
    },
    {
      "name": "partner_subscription_plan",
      "description": "Operations about partner_subscription_plans"
    },
    {
      "name": "partner_subscriptions",
      "description": "Operations about partner_subscriptions"
    },
    {
      "name": "partner_subscription",
      "description": "Operations about partner_subscriptions"
    },
    {
      "name": "partner_artists",
      "description": "Operations about partner_artists"
    },
    {
      "name": "partner_artist",
      "description": "Operations about partner_artists"
    },
    {
      "name": "partners",
      "description": "Operations about partners"
    },
    {
      "name": "partner_show",
      "description": "Operations about partner_shows"
    },
    {
      "name": "periods",
      "description": "Operations about periods"
    },
    {
      "name": "period",
      "description": "Operations about periods"
    },
    {
      "name": "profile",
      "description": "Operations about profiles"
    },
    {
      "name": "purchases",
      "description": "Operations about purchases"
    },
    {
      "name": "purchase",
      "description": "Operations about purchases"
    },
    {
      "name": "related",
      "description": "Operations about relateds"
    },
    {
      "name": "representative",
      "description": "Operations about representatives"
    },
    {
      "name": "sale_agreements",
      "description": "Operations about sale_agreements"
    },
    {
      "name": "sale_artwork",
      "description": "Operations about sale_artworks"
    },
    {
      "name": "sale_artworks",
      "description": "Operations about sale_artworks"
    },
    {
      "name": "sale",
      "description": "Operations about sales"
    },
    {
      "name": "sales",
      "description": "Operations about sales"
    },
    {
      "name": "search",
      "description": "Operations about searches"
    },
    {
      "name": "sets",
      "description": "Operations about sets"
    },
    {
      "name": "set",
      "description": "Operations about sets"
    },
    {
      "name": "shortcut",
      "description": "Operations about shortcuts"
    },
    {
      "name": "shortcuts",
      "description": "Operations about shortcuts"
    },
    {
      "name": "show",
      "description": "Operations about shows"
    },
    {
      "name": "shows",
      "description": "Operations about shows"
    },
    {
      "name": "site_hero_unit",
      "description": "Operations about site_hero_units"
    },
    {
      "name": "site_hero_units",
      "description": "Operations about site_hero_units"
    },
    {
      "name": "stripe_customer",
      "description": "Operations about stripe_customers"
    },
    {
      "name": "system",
      "description": "Operations about systems"
    },
    {
      "name": "tag",
      "description": "Operations about tags"
    },
    {
      "name": "tags",
      "description": "Operations about tags"
    },
    {
      "name": "token",
      "description": "Operations about tokens"
    },
    {
      "name": "user_art_quiz",
      "description": "Operations about user_art_quizzes"
    },
    {
      "name": "user_fair_actions",
      "description": "Operations about user_fair_actions"
    },
    {
      "name": "user_fair_action",
      "description": "Operations about user_fair_actions"
    },
    {
      "name": "user_interests",
      "description": "Operations about user_interests"
    },
    {
      "name": "user_interest",
      "description": "Operations about user_interests"
    },
    {
      "name": "user_sale_profile",
      "description": "Operations about user_sale_profiles"
    },
    {
      "name": "user",
      "description": "Operations about users"
    },
    {
      "name": "users",
      "description": "Operations about users"
    },
    {
      "name": "verified_representatives",
      "description": "Operations about verified_representatives"
    },
    {
      "name": "video",
      "description": "Operations about videos"
    },
    {
      "name": "viewing_rooms",
      "description": "Operations about viewing_rooms"
    },
    {
      "name": "viewing_room",
      "description": "Operations about viewing_rooms"
    },
    {
      "name": "xapp_token",
      "description": "Operations about xapp_tokens"
    },
    {
      "name": "address_verification",
      "description": "Operations about address_verifications"
    },
    {
      "name": "client_application",
      "description": "Operations about client_applications"
    },
    {
      "name": "fair_booth_import",
      "description": "Operations about fair_booth_imports"
    },
    {
      "name": "increments",
      "description": "Operations about increments"
    },
    {
      "name": "increment",
      "description": "Operations about increments"
    },
    {
      "name": "partner_collector_profile",
      "description": "Operations about partner_collector_profiles"
    },
    {
      "name": "partner_collector_profiles",
      "description": "Operations about partner_collector_profiles"
    },
    {
      "name": "profiles",
      "description": "Operations about profiles"
    },
    {
      "name": "webhook_deliveries",
      "description": "Operations about webhook_deliveries"
    },
    {
      "name": "webhook_delivery",
      "description": "Operations about webhook_deliveries"
    }
  ],
  "paths": {
    "/api/v1/access_controls": {
      "get": {
        "tags": [
          "access_controls"
        ],
        "description": "Retrieve access controls.",
        "operationId": "getApiV1AccessControls",
        "parameters": [
          {
            "name": "property_type",
            "in": "query",
            "description": "Property type.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "property_id",
            "in": "query",
            "description": "Property id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve access controls.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/access_token": {
      "delete": {
        "tags": [
          "access_token"
        ],
        "description": "Expire an OAuth access token.",
        "operationId": "deleteApiV1AccessToken",
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "Access token, defaults to value in the X-Access-Token header.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Expire an OAuth access token.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/account_requests": {
      "post": {
        "tags": [
          "account_requests"
        ],
        "description": "Create an account request, which may be associated with a user.",
        "operationId": "postApiV1AccountRequests",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postApiV1AccountRequests"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Create an account request, which may be associated with a user.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "ApiV1AccountRequests"
      }
    },
    "/api/v1/admins/representatives": {
      "get": {
        "tags": [
          "admins"
        ],
        "description": "Retrieve all representatives.",
        "operationId": "getApiV1AdminsRepresentatives",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "-name",
                "email",
                "-email",
                "collector_since",
                "-collector_since"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve all representatives.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/admins/available_representatives": {
      "get": {
        "tags": [
          "admins"
        ],
        "description": "Retrieve available representatives.",
        "operationId": "getApiV1AdminsAvailableRepresentatives",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "-name",
                "email",
                "-email",
                "collector_since",
                "-collector_since"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve available representatives.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/admins": {
      "get": {
        "tags": [
          "admins"
        ],
        "description": "Retrieve all admins.",
        "operationId": "getApiV1Admins",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partner_admin",
            "in": "query",
            "description": "Only return admins that are set as admins for any partners.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "-name",
                "email",
                "-email",
                "collector_since",
                "-collector_since"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve all admins.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist_career_highlights": {
      "get": {
        "tags": [
          "artist_career_highlights"
        ],
        "description": "Return all artist career highlights for an artist.",
        "operationId": "getApiV1ArtistCareerHighlights",
        "parameters": [
          {
            "name": "artist_id",
            "in": "query",
            "description": "Artist id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "solo",
            "in": "query",
            "description": "Return only solo shows.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "Return only group shows.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "collected",
            "in": "query",
            "description": "Return only major institutions that have collected the artist's works.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return all artist career highlights for an artist.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist_career_highlight/{id}": {
      "put": {
        "tags": [
          "artist_career_highlight"
        ],
        "description": "Update an artist career highlight.",
        "operationId": "putApiV1ArtistCareerHighlightId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artist career highlight id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putApiV1ArtistCareerHighlight"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update an artist career highlight.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "ApiV1ArtistCareerHighlight"
      },
      "delete": {
        "tags": [
          "artist_career_highlight"
        ],
        "description": "Delete an artist career highlight.",
        "operationId": "deleteApiV1ArtistCareerHighlightId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artist career highlight id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete an artist career highlight.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist_career_highlight": {
      "post": {
        "tags": [
          "artist_career_highlight"
        ],
        "description": "Create an artist career highlight.",
        "operationId": "postApiV1ArtistCareerHighlight",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postApiV1ArtistCareerHighlight"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Create an artist career highlight.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "ApiV1ArtistCareerHighlight"
      }
    },
    "/api/v1/artist_series": {
      "get": {
        "tags": [
          "artist_series"
        ],
        "description": "Retrieve artist series",
        "operationId": "getApiV1ArtistSeries",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artist_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artwork_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "exclude_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retrieve artist series",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist_series/{id}": {
      "get": {
        "tags": [
          "artist_series"
        ],
        "description": "Retrieve an artist series",
        "operationId": "getApiV1ArtistSeriesId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artist Series ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve an artist series",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist/{id}/partners": {
      "get": {
        "tags": [
          "artist"
        ],
        "description": "Retrieve all partners that have artworks by an artist.",
        "operationId": "getApiV1ArtistIdPartners",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "sortable_id",
                "-sortable_id",
                "published_artworks_count",
                "-published_artworks_count"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Artist id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "represented_by",
            "in": "query",
            "description": "Only return partners that represent the artist.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve all partners that have artworks by an artist.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist/{id}/partner_artists": {
      "get": {
        "tags": [
          "artist"
        ],
        "description": "Retrieve all partner artist relationships for a partner.",
        "operationId": "getApiV1ArtistIdPartnerArtists",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "sortable_id",
                "-sortable_id",
                "published_artworks_count",
                "-published_artworks_count"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Artist id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "represented_by",
            "in": "query",
            "description": "Only return partner-artist relationships where the partner represents the artist.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "has_biography",
            "in": "query",
            "description": "Only return partner-artist relationships where the partner has entered a bio for the artist.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "featured",
            "in": "query",
            "description": "Only return featured partner artists.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve all partner artist relationships for a partner.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist/{id}/genome": {
      "get": {
        "tags": [
          "artist"
        ],
        "description": "Retrieve an artist's genome.",
        "operationId": "getApiV1ArtistIdGenome",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artist id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve an artist's genome.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "artist"
        ],
        "description": "Update an artist's genome.",
        "operationId": "putApiV1ArtistIdGenome",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artist id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putApiV1ArtistIdGenome"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update an artist's genome.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "ApiV1ArtistIdGenome"
      },
      "delete": {
        "tags": [
          "artist"
        ],
        "description": "Clear an artist's genome.",
        "operationId": "deleteApiV1ArtistIdGenome",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artist id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Clear an artist's genome.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist/{id}/genome/incomplete": {
      "put": {
        "tags": [
          "artist"
        ],
        "description": "Mark an artist's genome incomplete.",
        "operationId": "putApiV1ArtistIdGenomeIncomplete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artist id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mark an artist's genome incomplete.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist/{id}/genome/complete": {
      "put": {
        "tags": [
          "artist"
        ],
        "description": "Mark an artist's genome complete.",
        "operationId": "putApiV1ArtistIdGenomeComplete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artist id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mark an artist's genome complete.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist/{id}/genome/genes": {
      "get": {
        "tags": [
          "artist"
        ],
        "description": "Retrieve an artist's genes, sorted by value.",
        "operationId": "getApiV1ArtistIdGenomeGenes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artist id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve an artist's genes, sorted by value.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist/{id}/merge": {
      "post": {
        "tags": [
          "artist"
        ],
        "description": "Merge two artists (any artworks, follows, and posts)",
        "operationId": "postApiV1ArtistIdMerge",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artist id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postApiV1ArtistIdMerge"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Merge two artists (any artworks, follows, and posts)",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "ApiV1ArtistIdMerge"
      }
    },
    "/api/v1/artist/{id}/duplicates": {
      "get": {
        "tags": [
          "artist"
        ],
        "description": "Get a cluster of potentially duplicated artist records (including the specified Artist).",
        "operationId": "getApiV1ArtistIdDuplicates",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artist's id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a cluster of potentially duplicated artist records (including the specified Artist).",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist/{id}/image(/{image_version})": {
      "get": {
        "tags": [
          "artist"
        ],
        "description": "Get an artist's image.",
        "operationId": "getApiV1ArtistIdImage(ImageVersion)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artist's id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "image_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get an artist's image.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist": {
      "post": {
        "tags": [
          "artist"
        ],
        "description": "Create a new artist.",
        "operationId": "postApiV1Artist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postApiV1Artist"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Create a new artist.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "ApiV1Artist"
      }
    },
    "/api/v1/artist/{id}/artworks/all": {
      "get": {
        "tags": [
          "artist"
        ],
        "description": "Retrieve deep data for all artist's artworks. Most iconic works appear first, followed by recently published ones.",
        "operationId": "getApiV1ArtistIdArtworksAll",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "title",
                "-title",
                "created_at",
                "-created_at",
                "-created_at,-id",
                "deleted_at",
                "-deleted_at",
                "-iconicity",
                "-merchandisability",
                "published_at",
                "-published_at",
                "-partner_updated_at",
                "availability",
                "-recent_saves_count",
                "-last_offerable_activity_at"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Artist id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gene_id",
            "in": "query",
            "description": "Specify a gene id to sort artworks by the value of the gene, followed by recently published ones. Sorts by artwork iconicity by default.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "array",
                    "description": "Filter the works by criteria, any combination of 'for_sale' and 'not_for_sale'.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retrieve deep data for all artist's artworks. Most iconic works appear first, followed by recently published ones.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist/{id}/artworks": {
      "get": {
        "tags": [
          "artist"
        ],
        "description": "Retrieve all artist's artworks.",
        "operationId": "getApiV1ArtistIdArtworks",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "title",
                "-title",
                "created_at",
                "-created_at",
                "-created_at,-id",
                "deleted_at",
                "-deleted_at",
                "-iconicity",
                "-merchandisability",
                "published_at",
                "-published_at",
                "-partner_updated_at",
                "availability",
                "-recent_saves_count",
                "-last_offerable_activity_at"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Artist id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gene_id",
            "in": "query",
            "description": "Specify a gene id to sort artworks by the value of the gene, followed by recently published ones. Sorts by artwork iconicity by default.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "published",
            "in": "query",
            "description": "Return only published artworks.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "array",
                    "description": "Filter the works by criteria, any combination of 'for_sale' and 'not_for_sale'.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "exclude_ids": {
                    "type": "array",
                    "description": "An array of artwork ids to exclude from the response.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retrieve all artist's artworks.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist/{id}/admin_note": {
      "post": {
        "tags": [
          "artist"
        ],
        "description": "Create an artist admin_note.",
        "operationId": "postApiV1ArtistIdAdminNote",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artist id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Create an artist admin_note.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist/{id}/admin_notes": {
      "get": {
        "tags": [
          "artist"
        ],
        "description": "Retrieve all artist's admin_notes.",
        "operationId": "getApiV1ArtistIdAdminNotes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artist id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve all artist's admin_notes.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist/{id}": {
      "get": {
        "tags": [
          "artist"
        ],
        "description": "Retrieve an artist.",
        "operationId": "getApiV1ArtistId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve an artist.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "artist"
        ],
        "description": "Update an existing artist.",
        "operationId": "putApiV1ArtistId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putApiV1Artist"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update an existing artist.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "ApiV1Artist"
      },
      "delete": {
        "tags": [
          "artist"
        ],
        "description": "Delete an existing artist.",
        "operationId": "deleteApiV1ArtistId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete an existing artist.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist/{id}/artwork_inquiry_requests": {
      "get": {
        "tags": [
          "artist"
        ],
        "description": "Retrieve all artwork inquiry requests by a artist.",
        "operationId": "getApiV1ArtistIdArtworkInquiryRequests",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "-created_at",
                "created_at",
                "-outcome",
                "outcome",
                "likely_to_purchase",
                "-likely_to_purchase",
                "status",
                "-status",
                "flagged",
                "-flagged",
                "contact_gallery",
                "-contact_gallery",
                "status,-likely_to_purchase,created_at",
                "last_message_received_at",
                "-last_message_received_at"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve all artwork inquiry requests by a artist.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artist/{id}/follow/users": {
      "get": {
        "tags": [
          "artist"
        ],
        "description": "Retrieve all users that follow an artist.",
        "operationId": "getApiV1ArtistIdFollowUsers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve all users that follow an artist.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artists/merge": {
      "post": {
        "tags": [
          "artists"
        ],
        "description": "Merge two or more artists",
        "operationId": "postApiV1ArtistsMerge",
        "responses": {
          "201": {
            "description": "Merge two or more artists",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artists": {
      "get": {
        "tags": [
          "artists"
        ],
        "description": "Retrieve artists.",
        "operationId": "getApiV1Artists",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "_slugs",
                "-_slugs",
                "created_at",
                "-created_at",
                "sortable_id",
                "-sortable_id",
                "-trending"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "description": "Returns these objects if passed in.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retrieve artists.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artists/{match}": {
      "get": {
        "tags": [
          "artists"
        ],
        "description": "Retrieve a subset of artists.",
        "operationId": "getApiV1ArtistsMatch",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "_slugs",
                "-_slugs",
                "created_at",
                "-created_at",
                "sortable_id",
                "-sortable_id",
                "-trending"
              ]
            }
          },
          {
            "name": "match",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a subset of artists.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artists/popular": {
      "get": {
        "tags": [
          "artists"
        ],
        "description": "Retrieve the most followed artists.",
        "operationId": "getApiV1ArtistsPopular",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "description": "Limit to top n artists.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "exclude_followed_artists",
            "in": "query",
            "description": "If true, will exclude followed artists.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "exclude_artist_ids": {
                    "type": "array",
                    "description": "Exclude these ids from results, may result in all artists being excluded.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retrieve the most followed artists.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artists/trending/scores": {
      "get": {
        "tags": [
          "artists"
        ],
        "description": "Retrieve trending artists with full score breakdown.",
        "operationId": "getApiV1ArtistsTrendingScores",
        "parameters": [
          {
            "name": "n",
            "in": "query",
            "description": "Limit to top n artists.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve trending artists with full score breakdown.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artists/trending": {
      "get": {
        "tags": [
          "artists"
        ],
        "description": "Retrieve trending artists in descending order.",
        "operationId": "getApiV1ArtistsTrending",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gene",
            "in": "query",
            "description": "Supply a gene filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_career_stage",
            "in": "query",
            "description": "Supply a max career stage filter.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "min_career_stage",
            "in": "query",
            "description": "Supply a min career stage filter.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 45
            }
          },
          {
            "name": "min_forsale_artworks",
            "in": "query",
            "description": "Min number of for sale works",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            }
          },
          {
            "name": "min_follow_count",
            "in": "query",
            "description": "Min number of followers",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "exclude_followed_artists",
            "in": "query",
            "description": "If true, will exclude followed artists.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve trending artists in descending order.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artwork_version/{id}": {
      "get": {
        "tags": [
          "artwork_version"
        ],
        "description": "Retrieve an artwork version.",
        "operationId": "getApiV1ArtworkVersionId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Version id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve an artwork version.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artworks/collections/batch": {
      "post": {
        "tags": [
          "artworks"
        ],
        "description": "Add / remove artworks to / from collections",
        "operationId": "postApiV1ArtworksCollectionsBatch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "artwork_ids"
                ],
                "type": "object",
                "properties": {
                  "artwork_ids": {
                    "type": "array",
                    "description": "Artwork ids or slugs.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "add_to": {
                    "type": "array",
                    "description": "Collection ids or slugs.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "remove_from": {
                    "type": "array",
                    "description": "Collection ids or slugs.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Add / remove artworks to / from collections",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artworks/deleted": {
      "get": {
        "tags": [
          "artworks"
        ],
        "description": "Retrieve deleted artworks.",
        "operationId": "getApiV1ArtworksDeleted",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve deleted artworks.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artworks/sellable": {
      "get": {
        "tags": [
          "artworks"
        ],
        "description": "Retrieve top sellable artworks.",
        "operationId": "getApiV1ArtworksSellable",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at_since",
            "in": "query",
            "description": "Only return artworks created after this timestamp.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_artists_per_page",
            "in": "query",
            "description": "Minimum number of artists to feature in results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "description": "Min artwork price filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "description": "Max artwork price filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_career_stage",
            "in": "query",
            "description": "Min artist career stage.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_career_stage",
            "in": "query",
            "description": "Max artist career stage.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Artwork category filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "title",
                "-title",
                "created_at",
                "-created_at",
                "-created_at,-id",
                "deleted_at",
                "-deleted_at",
                "-iconicity",
                "-merchandisability",
                "published_at",
                "-published_at",
                "-partner_updated_at",
                "availability",
                "-recent_saves_count",
                "-last_offerable_activity_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve top sellable artworks.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artworks": {
      "get": {
        "tags": [
          "artworks"
        ],
        "description": "Retrieve all not deleted artworks.",
        "operationId": "getApiV1Artworks",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "created_at_since",
            "in": "query",
            "description": "Only return artworks created after this timestamp.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "availability",
            "in": "query",
            "description": "Only return artworks with this availability status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "admin_id",
            "in": "query",
            "description": "Only return artworks from partners that are managed by given admin.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "partner_contract_type",
            "in": "query",
            "description": "Only return artworks from partners of a given contract_type.",
            "schema": {
              "type": "string",
              "enum": [
                "General",
                "Subscription",
                "Fair",
                "Custom"
              ]
            }
          },
          {
            "name": "published",
            "in": "query",
            "description": "Return only artworks in given published status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "marketable",
            "in": "query",
            "description": "Works that are marketable.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "exclude_disliked_artworks",
            "in": "query",
            "description": "Exclude disliked artworks if authenticated.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "title",
                "-title",
                "created_at",
                "-created_at",
                "-created_at,-id",
                "deleted_at",
                "-deleted_at",
                "-iconicity",
                "-merchandisability",
                "published_at",
                "-published_at",
                "-partner_updated_at",
                "availability",
                "-recent_saves_count",
                "-last_offerable_activity_at"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "description": "Returns these objects if passed in.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "artist_ids": {
                    "type": "array",
                    "description": "Only return artworks by these artists.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retrieve all not deleted artworks.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artworks_discovery": {
      "get": {
        "tags": [
          "artworks_discovery"
        ],
        "operationId": "getApiV1ArtworksDiscovery",
        "responses": {
          "200": {
            "description": "get ArtworksDiscovery(s)",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artwork/{artwork_id}/inventory": {
      "put": {
        "tags": [
          "artwork"
        ],
        "description": "Create or update an artwork's inventory.",
        "operationId": "putApiV1ArtworkArtworkIdInventory",
        "parameters": [
          {
            "name": "artwork_id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putApiV1ArtworkArtworkIdInventory"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Create or update an artwork's inventory.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "ApiV1ArtworkArtworkIdInventory"
      }
    },
    "/api/v1/artwork/{artwork_id}/images/reposition": {
      "post": {
        "tags": [
          "artwork"
        ],
        "description": "Reposition artwork images.",
        "operationId": "postApiV1ArtworkArtworkIdImagesReposition",
        "parameters": [
          {
            "name": "artwork_id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "image_ids"
                ],
                "type": "object",
                "properties": {
                  "image_ids": {
                    "type": "array",
                    "description": "Array of artwork image ids.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Reposition artwork images.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artwork/{artwork_id}/images": {
      "get": {
        "tags": [
          "artwork"
        ],
        "description": "Retrieve artwork images.",
        "operationId": "getApiV1ArtworkArtworkIdImages",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artwork_id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "position"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve artwork images.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artwork/{artwork_id}/images/default/{id}": {
      "put": {
        "tags": [
          "artwork"
        ],
        "description": "Set the default image.",
        "operationId": "putApiV1ArtworkArtworkIdImagesDefaultId",
        "parameters": [
          {
            "name": "artwork_id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Default image id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Set the default image.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artwork/{artwork_id}/image/{id}": {
      "put": {
        "tags": [
          "artwork"
        ],
        "description": "Update an artwork image.",
        "operationId": "putApiV1ArtworkArtworkIdImageId",
        "parameters": [
          {
            "name": "artwork_id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Image id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putApiV1ArtworkArtworkIdImage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update an artwork image.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "ApiV1ArtworkArtworkIdImage"
      },
      "delete": {
        "tags": [
          "artwork"
        ],
        "description": "Remove an image from an artwork.",
        "operationId": "deleteApiV1ArtworkArtworkIdImageId",
        "parameters": [
          {
            "name": "artwork_id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Image id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Remove an image from an artwork.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artwork/{artwork_id}/image": {
      "post": {
        "tags": [
          "artwork"
        ],
        "description": "Add an image to an artwork.",
        "operationId": "postApiV1ArtworkArtworkIdImage",
        "parameters": [
          {
            "name": "artwork_id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postApiV1ArtworkArtworkIdImage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Add an image to an artwork.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "ApiV1ArtworkArtworkIdImage"
      }
    },
    "/api/v1/artwork/{artwork_id}/default_image(/{image_version})": {
      "get": {
        "tags": [
          "artwork"
        ],
        "description": "Get an artwork's default image.",
        "operationId": "getApiV1ArtworkArtworkIdDefaultImage(ImageVersion)",
        "parameters": [
          {
            "name": "artwork_id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "image_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get an artwork's default image.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artwork/{artwork_id}/image/{id}(/{image_version})": {
      "get": {
        "tags": [
          "artwork"
        ],
        "description": "Get an artwork's image.",
        "operationId": "getApiV1ArtworkArtworkIdImageId(ImageVersion)",
        "parameters": [
          {
            "name": "artwork_id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Image id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "image_version",
            "in": "path",
            "description": "Version of the image to download.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get an artwork's image.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artwork/{id}/genome": {
      "get": {
        "tags": [
          "artwork"
        ],
        "description": "Retrieve an artwork's genome.",
        "operationId": "getApiV1ArtworkIdGenome",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve an artwork's genome.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "artwork"
        ],
        "description": "Update an artwork's genome.",
        "operationId": "putApiV1ArtworkIdGenome",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putApiV1ArtworkIdGenome"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update an artwork's genome.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "ApiV1ArtworkIdGenome"
      },
      "delete": {
        "tags": [
          "artwork"
        ],
        "description": "Clear an artwork's genome.",
        "operationId": "deleteApiV1ArtworkIdGenome",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Clear an artwork's genome.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artwork/{id}/genome/incomplete": {
      "put": {
        "tags": [
          "artwork"
        ],
        "description": "Mark an artwork's genome incomplete.",
        "operationId": "putApiV1ArtworkIdGenomeIncomplete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mark an artwork's genome incomplete.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artwork/{id}/genome/complete": {
      "put": {
        "tags": [
          "artwork"
        ],
        "description": "Mark an artwork's genome complete.",
        "operationId": "putApiV1ArtworkIdGenomeComplete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mark an artwork's genome complete.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artwork/{id}/view": {
      "post": {
        "tags": [
          "artwork"
        ],
        "description": "Record a view of an artwork.",
        "operationId": "postApiV1ArtworkIdView",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Record a view of an artwork.",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "artwork"
        ],
        "description": "Delete a recorded view of an artwork.",
        "operationId": "deleteApiV1ArtworkIdView",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a recorded view of an artwork.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artwork": {
      "post": {
        "tags": [
          "artwork"
        ],
        "description": "Create an artwork.",
        "operationId": "postApiV1Artwork",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postApiV1Artwork"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Create an artwork.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "ApiV1Artwork"
      }
    },
    "/api/v1/artwork/{id}": {
      "get": {
        "tags": [
          "artwork"
        ],
        "description": "Retrieve an artwork.",
        "operationId": "getApiV1ArtworkId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_deleted",
            "in": "query",
            "description": "If true, will allow admins/trusted apps to retrieve deleted works.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve an artwork.",
            "content": {}
          }
        }
      },
      "put": {
        "tags": [
          "artwork"
        ],
        "description": "Update an existing artwork.",
        "operationId": "putApiV1ArtworkId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/putApiV1Artwork"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update an existing artwork.",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "ApiV1Artwork"
      },
      "delete": {
        "tags": [
          "artwork"
        ],
        "description": "Delete an artwork.",
        "operationId": "deleteApiV1ArtworkId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permanent",
            "in": "query",
            "description": "Permanently delete artwork.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete an artwork.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artwork/{id}/tags": {
      "put": {
        "tags": [
          "artwork"
        ],
        "description": "Add/remove tags to an artwork.",
        "operationId": "putApiV1ArtworkIdTags",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "tags"
                ],
                "type": "object",
                "properties": {
                  "tags": {
                    "type": "array",
                    "description": "Artwork tags.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Add/remove tags to an artwork.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artwork/{id}/artwork_inquiry_requests": {
      "get": {
        "tags": [
          "artwork"
        ],
        "description": "Retrieve all artwork inquiry requests for an artwork.",
        "operationId": "getApiV1ArtworkIdArtworkInquiryRequests",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve, starting at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of items to retrieve for this page or from the current offset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Cursor for pagination.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "-created_at",
                "created_at",
                "-outcome",
                "outcome",
                "likely_to_purchase",
                "-likely_to_purchase",
                "status",
                "-status",
                "flagged",
                "-flagged",
                "contact_gallery",
                "-contact_gallery",
                "status,-likely_to_purchase,created_at",
                "last_message_received_at",
                "-last_message_received_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve all artwork inquiry requests for an artwork.",
            "content": {}
          }
        }
      }
    },
    "/api/v1/artwork/{artwork_id}/edition_set/{id}/inventory": {
      "put": {
        "tags": [
          "artwork"
        ],
        "description": "Create or update an edition set's inventory.",
        "operationId": "putApiV1ArtworkArtworkIdEditionSetIdInventory",
        "parameters": [
          {
            "name": "artwork_id",
            "in": "path",
            "description": "Artwork id.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Edition set id.",
            "required": true,
[...]
